/* login.css */


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #121212; 
}


form {
    background: rgba(0, 0, 0, 0.8); 
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #333; 
    text-align: center;
}


h2 {
    color: #fff;
    margin-bottom: 30px; 
    font-size: 28px;
}


label {
    color: #ccc; 
    font-size: 16px;
}


input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #888; 
}


input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #ff0050; 
    border: 2px solid #ff0050; 
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #ff3366; 
    transform: scale(1.05); 
}

